html, body {
  width: 200vw;
  height: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  html, body {
    width: 600vw;
    height: 100%;
  }
}

.site {
  width: 100%;
  position: relative;
  background-color: #000;
}

.midia-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.midia-grid li:nth-child(2n) {
  align-self: center;
}

.midia-grid li:nth-child(3n) {
  align-self: flex-end;
}


img {
  display: block;
  z-index: 1;
}

audio, video {
  z-index: 2000;
}

header {
  z-index: 1000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}