html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  html, body {
    width: 600vw;
    height: 100%;
  }
}

.site {
  width: 100%;
  height: 100%;
  overflow: scroll;
  cursor: grab;
  cursor: -webkit-grab;
  user-select: none; 
}

.midia-grid {
  width: 200vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  background-size: cover;
}

.midia-grid li {

}

.midia-grid li:nth-child(2n) {
  align-self: center;
}

.midia-grid li:nth-child(3n) {
  align-self: flex-end;
}

.item-video {
  max-height: 712px;
}

img {
  width: 100%;
  height: auto;
  z-index: 1;
  display: block;
}

audio, video {
  z-index: 2000;
}

header {
  z-index: 1000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}