html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

.site {
  width: 100%;
  height: 100%;
  overflow: scroll;
  cursor: grab;
  cursor: -webkit-grab;
  user-select: none; 
  transition: all 1s ease-out;
}

.carregando {
  background-image: url('../assets/carregando.gif');
  background-position: center;
  background-repeat: no-repeat;
}

.carregando .midia-grid {
  opacity: 0;
  pointer-events: none;
}

.midia-grid {
  width: 200vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  background-size: cover;
}


.midia-grid li {
  background-color: black;
}

.midia-grid li > * {
  opacity: 0;
}

.midia-grid li > *:hover,
.midia-grid li.visivel > *{
  opacity: 1;
}

.midia-grid li:nth-child(2n) {
  align-self: center;
}

.midia-grid li:nth-child(3n) {
  align-self: flex-end;
}

.midia-grid .item-texto {
  text-transform: uppercase;
  font-size: 4rem;
  background-color: transparent;
}

.midia-grid li img {
  width: 100%;
  height: auto;
  z-index: 1;
  display: block;
}

.midia-grid li video {
  width: 100%;
  max-width: 423px;
}

header {
  z-index: 1000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#contador {
  position: fixed;
  pointer-events: none;
  text-align: right;
  font-size: 10rem;
  bottom: 1rem;
  right: 1rem;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .midia-grid  {
    width: 600vw;
  }

  .midia-grid .item-video,
  .midia-grid .item-imagem {
    max-width: 50vw;
  }

  .midia-grid .item-texto {
    font-size: 3rem;
  }

  #contador {
    font-size: 5rem;
  }
}
